<body>
    <div>
        <app-search></app-search>
    </div>

    <div class="lista">
        <h3>LISTA DEI PRODOTTI DI </h3>
        <h4>{{fornitore.name}} - Tel: {{fornitore.phone}}</h4>
        <div class="testo">
            <table>
                <tr>
                    <th>Numero</th>
                    <th>Nome</th>
                    <th>Codice a Barre</th>
                    <th>Descrizione</th>
                    <th>Prezzo</th>
                    <th>Quantità</th>
                </tr>
                <tr class="puntatore" *ngFor="let p of prodotti">
                    <th>{{p.id}}</th>
                    <th>{{p.name}}</th>
                    <th>{{p.barCode}}</th>
                    <th>{{p.description}}</th>
                    <th>{{p.price}} €</th>
                    <th>{{p.quantity}}</th>
                </tr>

            </table>
        </div>
    </div>
</body>