<body>
    <div class="barra">
        <div class="icon">

            <div class="distanziatore">
                <a routerLink="/home"><img
                        src="https://drive.google.com/thumbnail?id=1UoMQaabDjHLD40_-egcQacZSqK4PO_23"></a>
                <div class="text">
                    <p>Home</p>
                </div>
            </div>

        </div>


        <div class="icon">

            <div class="distanziatore">
                <a routerLink="/products/show"><img
                        src="https://drive.google.com/thumbnail?id=16OnxH5joUH166GLWYb8kk5myPzJY0dT-"></a>
                <p>Prodotti in Esposizione</p>
            </div>

            <div class="distanziatore">
                <a routerLink="/products/to-be-processed"><img
                        src="https://drive.google.com/thumbnail?id=1DTb822XNOEjgj37fi2p36vxj8kU_fbzk"></a>
                <p>Prodotti da Lavorare</p>
            </div>

            <div class="distanziatore">
                <a routerLink="/products/sold"><img
                        src="https://drive.google.com/thumbnail?id=1NSpkJW7fue1kFO4R-VKU1MOr8uvppIIs"></a>
                <p>Prodotti Venduti</p>
            </div>

        </div>
    </div>
</body>