<body>
    <div class="barra">
        <div class="icon">

            <div class="distanziatore">
                <a routerLink="/home"><img
                        src="https://drive.google.com/thumbnail?id=1UoMQaabDjHLD40_-egcQacZSqK4PO_23"></a>
                <div class="text">
                    <p>Home</p>
                </div>
            </div>

        </div>


        <div class="icon">

            <div class="distanziatore">
                <a routerLink="/warehouse/products"><img
                        src="https://drive.google.com/thumbnail?id=1kfLrPGFybkKXScRqVUyLMnoVu_W9X4UA"></a>
                <p>Prodotti in Magazzino</p>
            </div>

            <div class="distanziatore">
                <a routerLink="/warehouse/boxs"><img
                        src="https://drive.google.com/thumbnail?id=1SvU3wECwlMfE6qbNJFHHbruCWv3UQ-56"></a>
                <p>Confezioni in Magazzino</p>
            </div>

        </div>
    </div>
</body>