.dashboard{
  width: 100%;
  min-height: 60px;
  padding-bottom: 4px;
  background-color: lightblue;
}
.norm_button{
  margin-left: 25px;
  margin-top: 10px;
  height: 40px;
  width: 10%;
}

.logout-style{
  margin-right: 25px;
  float: right;
  margin-top: 10px;
  height: 40px;
  width: 10%;
}
