<body>
    <div class="barra">
        <div class="icon">

            <div class="distanziatore">
                <a routerLink="/warehouse"><img
                        src="https://drive.google.com/thumbnail?id=1GoXa_6T3PgDzQBYQGLW_6DbkZOproaQH"></a>
                <div class="text">
                    <p>Magazzino</p>
                </div>
            </div>

            <div class="distanziatore">
                <a routerLink="/orders"><img
                        src="https://drive.google.com/thumbnail?id=1-vgibyrvTWY6mQgxuoYf4kyoGVx2OHnn"></a>
                <p>Ordini Spediti</p>
            </div>

            <div class="distanziatore">
                <a routerLink="/staff"><img
                        src="https://drive.google.com/thumbnail?id=1yK3vRDBv6VC6DbyeZ7FUePQ75NkfECa3"></a>
                <p>Personale</p>
            </div>

        </div>


        <div class="icon">

            <div class="distanziatore">
                <a routerLink="/cart"><img
                        src="https://drive.google.com/thumbnail?id=1poPRJhB1NeDZ3smxi7queEB8sP1Suth6"></a>
                <p>Ordini</p>
            </div>

            <div class="distanziatore">
                <a routerLink="/supplier"><img
                        src="https://drive.google.com/thumbnail?id=13DhHadIv4k8uWTfiIRoN3wZRKf2JmLzf"></a>
                <p>Fornitori</p>
            </div>

            <div class="distanziatore">
                <a routerLink="/products"><img
                        src="https://drive.google.com/thumbnail?id=1AVu_pjJlrYvpdxqcBFJlpBwkWDAu_RvS"></a>
                <p>Prodotti</p>
            </div>

        </div>
    </div>
</body>